.title {
    justify-self: center;
    margin: 2rem 0 0 0;
}

.title1,
.title2 {
    display: inline-block;
    margin: 0;
    font-size: clamp(1rem, 4vw, 5rem);
}

.title1 {
    color: #B91D1D;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.playlist {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    padding: 20px 0;
    border: 1px solid #000;
    width: 60rem;
    border-radius: 50px;
}

.input {
    border: none;
    background: none;
    outline: none;
    padding: 0.5rem 2rem;
    font-size: 1.5rem;
    text-align: left;
    width: 100%;
}

.input::placeholder {
    text-align: left;
}

.button {
    border: none;
    background: none;
    outline: none;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    cursor: pointer;
}